/* ffb8d1-e4b4c2-e7cee3-e0e1e9-ddfdfe */
*{
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    
  height: 100%;
}
/* Setting */
.border-short{

    position: relative;
    padding: 15px 0px;
    margin-bottom: 25px;
    
}
.border-short::after{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: #585858;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
}
/* ------------------------------------------------- */
.bg-alpha{
    background: rgba(155, 110, 110, 0.8);
}
.navbar{
    padding: 0px;
}
.navbar-brand{
    padding: 12px;
}
.navbar-icon{
    color: white;
    transition: .3s;
}
.navbar-toggler{
    border: none;
    outline: none;
}
.navbar-icon:hover{
    color: wheat;
   
}
.collapse ul li a{
    min-width: 100px;
    display: block;
    padding: 15px;
    
    transition: .3s;
}
.collapse ul li a:hover{
    background-color:rgba(170, 105, 105, 0.6);
}

/* carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
  height: 100%;
}
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    top: 40%;
    font-weight: bold;
}
.backscreen{
    
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
/* setting Blog */
.warpper-card{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}
.warpper-card img{
    position: absolute;
    top: 0px;
    transition: .3s;
}
.warpper-card img:hover{
    position: absolute;
    top: 0px;
    transform: scale(1.1);
}

/* setting footer */
.semi-footer{
    background-color: #ffb8d1;
    font-weight: bold;
}
.semi-footer a{
    color: #fff;
}
i{
    transition: .3s;

}
i:hover{
    transform: scale(1.1);
}
.semi-footer h4{
    color: aliceblue;
    border-bottom: 1px solid;
    padding: 10px 0;
}
.footer{
    background-color: black;
    text-align: center;
    color: #fff;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
}